
<div class="user-input">
	<div class="container-signin">
	
		<div class="login">
		<h2 class="form-signin-heading">Please sign in</h2>
			<%= form_for(:session, url: login_path) do |f| %>
				<%= f.email_field :email, :placeholder => "Enter your email" %> <br>
				<%= f.password_field :password, :placeholder => "Enter password" %> <br>
				<div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                </div>
				<%= f.submit "Login", :class => "btn-login" %>
			<% end %>
		</div>
		<img src="http://bit.ly/1MyuK4a">
	</div>
</div>