<div class='container-signup text-center'>
   <img src="http://bit.ly/1MyuK4a">
    <div class="signup_head">
        <h2 class="form-signup-heading">
            Sign Up
        </h2>
            
    </div>
        <div class="signup-form">
            <%= render 'form' %>
        </div>
    <div class="back">
        <%= link_to 'Back', users_path %>  
    </div>
</div>




