
<section class="how-it-works">
  
    <div class="how-head">
        <h4>How It Works</h4>
    </div>

  <div class="page-container-responsive">

    <div class="row space-top-8 text-center">

      <div class="how-it-works__step-one col-md-4">
        <div class="panel-body">
            <div class="search-amazing-how__image"></div>
          <h3>
            Search For Amazing Things
          </h3>
          <p>
            Find people who can teach you how to fly a hot air balloon, brew a Belgian beer, ride a camel, build a website from scratch, or even write a novel. 
          </p>
        </div>
      </div>

      <div class="how-it-works__step how-it-works__step-two col-md-4">
        <div class="panel-body">
         <div class="share-knowledge-how__image"></div>
          <h3>
            Share Your Knowledge
          </h3>
          <p>
            Connect with people who want to learn, confirm the times and locations you will meet, and pay—all through {ko}learn's trusted services.
          </p>
        </div>
      </div>

      <div class="how-it-works__step how-it-works__step-three col-md-4">
        <div class="panel-body">
         <div class="learn-world-how__image"></div>
          <h3>
            Learn From The World
          </h3>
          <p>
            Learning happens everywhere, all the time, and it can happen from anybody in the world. Learn something new, anywhere you go in the world. <a href="/how">Learn more</a> about how to learn on {ko}learn.
          </p>
        </div>
      </div>

    </div>

    <div class="row space-top-4 space-4 text-center">
      <p><a href="/help/getting-started/how-to-host">Learn more</a> about sharing your knowledge on {ko}learn.
      </p>
    </div>

  </div>
</section>