/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
}

img {
  height: 50px;
}

#logo {
  height: 20px;
}

.row {
  display: inline;
    
}

.jumbotron {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/mgr4uA') no-repeat center center;
  background-size: cover;
  height: 700px;
    margin-top: -170px;
}

.jumbotron h1 {
    font-weight: 700;
    margin-top: 125px;
    text-transform: uppercase;
    padding-top: 80px;
}

.jumbotron p {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron-about {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/BdeJuM') no-repeat center center;
  background-size: cover;
  height: 300px;
}

.jumbotron-about h1 {
  font-weight: 700;
  margin-top: 100px;
    text-transform: capitalize;
    font-size: 50px;
}


.jumbotron-supporting {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/JZhfyM') no-repeat center center;
  background-size: cover;
  height: 600px;
}

.jumbotron-supporting h1 {
    font-weight: 700;
    margin-top: 125px;
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 60px;
}

.jumbotron-supporting p {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.jumbotron-supporting1 {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/Sk66pj') no-repeat center center;
  background-size: cover;
  height: 600px;
}

.jumbotron-supporting1 h1 {
    font-weight: 700;
    margin-top: 125px;
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 60px;
}

.jumbotron-supporting1 p {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.jumbotron-supporting2 {
  text-align: center;
  color: #fff;
  background: url('https://goo.gl/ZUXHPb') no-repeat center center;
  background-size: cover;
  height: 600px;
}

.jumbotron-supporting2 h1 {
    font-weight: 700;
    margin-top: 125px;
    text-transform: uppercase;
    padding-top: 80px;
    font-size: 60px;
}

.jumbotron-supporting2 p {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}


.btn-primary {
    color: #fff;
    background-color: #d00a88;
    border-color: #d00a88;
    padding: 10px 42px;
    border-radius: 0 !important;
}

#btn-how {
  border: none;
  padding: 10px 50px;
  background: rgba(255, 255, 255, .4);
  color: #fff;
    border-radius: 0 !important;
}

.user-input {
    text-align: center;
}

.container-form {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 50px;
}



.form-inline {
    padding: 40px;
      margin: -2px;
}


.welcome {
	margin-top: 25px;
	/*background: rgba(105, 105, 105, .5);*/
	padding: 25px 10px;
    
}


#learn {
	width: 225px;
}

/* .errors li {
  display: inline-block;
  color: red;
} */

.btn-login {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
}

.footer {
  background-image: url("https://41.media.tumblr.com/af52bf6d5f0f792d97e37ba498fb21da/tumblr_nrklyej7Sx1qlcwy7o1_1280.jpg");
  color: #fff;
  padding: 40px 0 20px 0;
  text-align: center;
    height: 300px;
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
    padding-top: 50px;
}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;

}

.footer li {
  font-size: inherit;
    display: inline-block;
    margin: 10px;
}




.about-head h4 {
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 50px;
}

.container-about p {
    font-size: 25px;
    line-height: 50px;
    font-weight: 100px;
}

.container {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}



.form-control {
    margin: -2px;
    border-radius: 0 !important;
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 20px 20px;
  font-size: 14px;
  line-height: 1.42857;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.navbar-default { 
    background: transparent;
  background-color: transparent;
  border-color: transparent;
    padding-top: 0px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 0px;
    padding-top: 0px;
}

.navbar {
    margin: auto;
}

.navbar a :hover {
 background-color: green;
}


.container {
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
